.list-item-data {
    width: 50%;
}

.list-item-data > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-type {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 5px 0;
}