.button {
    background-color: rgb(1, 104, 1);
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    transform: perspective(1px) translateZ(0);
}

.button::before {
    content: "";
    z-index: -1;
    position: absolute;
    background: rgb(1, 182, 1);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    opacity: 0;
    transform-origin: 50% 50%;
    transition: all 400ms ease-in-out;
}

.button:hover:before, .button:focus:before, .button:active:before {
    transform: scaleX(1);
    opacity: 1;
}
.button:hover {
    color: #fff;
}