.form-input {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.text-input-label {
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    color: #5e5e5e;
    background: #fff;
    padding: 1px 8px;
}

.text-input {
    height: 60px;
    width: 100%;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #c2c2c2;
}
.text-input:focus {
    outline: none;
    border: none;
    box-shadow: #c2c2c2 1px 1px 5px;
}


.input-label-enter {
    transition: all 250ms ease-in-out;
    top: 50%;
    opacity: 0;
    font-size: 1rem;
}
.input-label-enter-active {
    top: 0;
    opacity: 1;
    font-size: 0.6em;
}
.input-label-enter-done {
    top: 0;
    opacity: 1;
    font-size: 0.6em;
}
.input-label-exit {
    top: 0;
    opacity: 1;
    font-size: 0.4em;
}
.input-label-exit-active {
    transition: all 250ms ease-in-out;
    top: 50%;
    opacity: 0;
    font-size: 1rem;
}
.input-label-exit-active {
    transition: all 150ms ease-in-out;
    top: 50%;
    opacity: 0;
    font-size: 1rem;
}

@media only screen and (max-width: 500px) {
    .form-input {
        flex-direction: column;
    }


}