.chore-image {
    height: 100px;
    width: 100px;
    min-width: 60px;
    overflow: hidden;
    margin: 0 10px 0 0;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.inactive .chore-image {
    filter: grayscale(100%);
}