* {
  box-sizing: border-box;
}

.app {
    padding-top: 20px;
}

body {
    width: 100%;
    height: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}